<span>Add your comments ... </span>

<%= form_with model: Comment do |form| %>
  <%= form.hidden_field :post_id, value: @post.id %>
  <div>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>